body {
	background: url("../images/pink_dust.png");
}

.page-header {
	background-color: #f4aa42;
	padding-top: 15px;
	padding-bottom: 20px;
	margin-top: 0;
}

.rules {
	font-size: 18px;
	color: #7fc946;
	border-radius: 12px;
	font-weight: 600px;
}

#targetScore {
	background-color: #46c9aa;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 40px;
	margin-right: 5px;
	border-radius: 12px;
}

#wins-losses {
	background-color: #469fc9;
	margin-top: 10px;
	margin-bottom: 8px;
	padding-top: 10px;
	padding-bottom: 26px;
	border-radius: 12px;
}

#p-text {
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: black;
	font-size: 20px;
	background-color: #ad1f5c;	
	padding-left: 10px;
	border-radius: 12px;
}

#totalScore {
	margin-bottom: 10px;
	padding-top: 40px;
	padding-bottom: 40px;
	color: black;
	font-size: 40px;
	background-color: #ad1f5c;
	text-align: center;
	border-radius: 12px;
}
